<div id="all-cards">
  <div class="card card-border border-gradient">
    <div class="img-content">
      <img class="card-mainImg" width="50" height="50" src="https://img.icons8.com/cotton/64/cat--v1.png" alt="cat--v1"/>
    </div>
    <hr>
    <div class="text-content">
      <h2 class="card-title">Title Card</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sollicitudin est.
         Suspendisse quis tellus massa. Morbi dignissim, sapien ut.</p>
    </div>
    <button id="btn-card" (click)="handleClick()">Click here</button>
  </div>

  <div class="card card-border border-gradient">
    <div class="img-content">
      <img class="card-mainImg" width="50" height="50" src="https://img.icons8.com/cotton/64/cat--v1.png" alt="cat--v1"/>
    </div>    
    <hr>
    <div class="text-content">
      <h2 class="card-title">Title Card</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sollicitudin est.
         Suspendisse quis tellus massa. Morbi dignissim, sapien ut.</p>
    </div>
  </div>
</div>
